<div class="main-container">
  <!-- Div con el buscador de usuarios -->
  <div class="search-div">
    <form [formGroup]="buscarusuario" (ngSubmit)="buscarUsuario()">
      <span>Ingrese un nombre de usuario para buscar: </span>
      <div class="search">
        <mat-form-field floatLabel="never">
          <mat-label class="color">Nombre de usuario</mat-label>
          <input type="string" matInput formControlName="nombreUsuario" (keyup)="buscarUsuario()">
        </mat-form-field>
        <button class="button" type="submit" mat-button [disabled]="!buscarusuario.value.nombreUsuario">Buscar</button>
      </div>
    </form>
  </div>
  <!-- Spinner -->
  <app-spinner *ngIf="showSpinner"></app-spinner>
  <!-- Div con la lista de usuarios -->
  <div class="list">
    <div class="list-item" *ngFor="let usuario of usuariosMostrados" (click)="mirarDetalle(usuario)">
      <img class="image" src={{usuario.avatar_url}} alt="Imagen de usuario">
      <label>{{usuario.login}}</label>
    </div>
  </div>
</div>
